@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";


 
p, li, address, dd, blockquote, td, th, a,
body, h1, h2, h3, h4, h5, h6, p, dl, ul, ol,
.paragraph-links a, #respond input, #respond textarea, #respond p label, #search_mini {
    color: #666767;
    font-family: 'Open Sans', 'Verdana', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

#navbar ul li
{
	float:right;
}
#header 
{		
	
	background:#F4F4F4;
	width:100%;
	height:85px;
}
#slider 
{		
	
	background:#FFFFFF;
	 
	 
}
#meta
{
	background:#FFFFFF;
	text-align:center;
	padding:5px;
	border-bottom:2px solid #023A5C;
}
#meta h1{
	font-weight:bold;
	color:#023A5C;
	font-size:22px;
	line-height:0px;
}
#meta h3{
	font-weight:bold;
	color:#023A5C;
	font-size:15px;
	line-height:14px;
}
#meta p{
	font-weight:bold;
	color:#5DB047;
	border:3px solid #5DB047;
	width:5%;
	text-align:center;
	
}

#maincont

{
	background:red;
}
#feature1
{
	background:#DF1018;
	padding:10px;
	 
}
#feature
{
	background:#DF1018;
	padding:10px;
	text-align:center;
}
#featuremeta h1
{
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
	font-weight:bold;
}
#featuremeta p{
	font-weight:bold;
	color:#F0878B;
	border:3px solid #F0878B;
	width:5%;
	text-align:center;
	
}
#copyright
{
	 
	padding-left:20px;
	padding:20px;
	background:#EAEAEA;
	font-size:13px;
	 
}
#copyright a
{
	text-decoration:none;
	color:#5DB047;
	font-size:13px;
}
#copyright a:hover
{
	text-decoration:none;
	color:#F0878B;
}

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc;}
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #FFFFFF;  border-radius:4px; border:2px solid #FFFFFF; margin:5px; padding:8px; font-weight:bold; }
 
nav.navbar-findcond ul.navbar-nav a:active {  border-radius:4px; border:2px solid #FFFFFF; color:#023A5C; margin:5px; padding:8px; background:#FFFFFF;}
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; border:2px solid #FFFFFF; color:#023A5C; border-radius:4px;  background:#FFFFFF;}
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
nav.navbar-findcond a.navbar-brand{ padding:50px;}


#home table td 
{
	font-weight:bold;
	padding:5px;
	color:#000000;
	font-size:12px;
}
#home Input[type="text"]
{
	border:1px solid #DF1018;
	padding-left:5px;
}
.txtarea
{
	border:1px solid #DF1018;
	padding-left:5px;
}
#booking Input[type="text"]
{
	border:1px solid #DF1018;
	padding:10px;
	width:100%;
	color:#000000;
	font-weight:bold;
	
}
.carousel-caption h1{
	font-size:2.4em;
	 text-shadow: none;
	margin-top:0px;
	color:#FFFFFF;
	font-weight:bold;
	
} 
#contactbanner
{
	padding:10px;
	text-align:center;
}

#side1
{
	text-align:center;
		line-height:0px;
}
#side1 h3
{
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

.utt2{
	border: none;
	background: #46E14D;
	color: #FFFFFF;
	padding: 5px;
	font-size:15px;
	 
	width:100%;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	height:40px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.utt2:hover {
		background: #8BEC90;
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #8BEC90;
}
#pricetable table
{
	 
	 
	width:100%;
}
#pricetable table td
{
	padding:10px;
	 font-weight:bold;
	color:#000000;
}
.tbcolor
{
	background:#E8E8E8;
	 
}
.tbcolor1
{
	background:#CECECE;
	width:20%;
}
.whitetb
{
	background:#FFFFFF;
 
} 
.circle {
  display: block;
  width: 100px;
   cursor: pointer;
 
  height: 30px;
  text-align:center;
  color:#DF1018;
    
   
  background-repeat: no-repeat;
   background:#FFFFFF;
  
  border-radius: 5px;
  border:.1px dashed #000000;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);  
}
.circle:hover{
	background:#DF1018;
	color:#FFFFFF;
	border:.1px dashed #FFFFFF;
}
#bookingtable table
{
	 
	 border-radius:10px;
	 
	 background:#E8E8E8;
}
#bookingtable table td
{
	padding:10px;
	
	
}
.utt3{
	border: none;
	background: #DF1018;
	color: #FFFFFF;
	padding: 10px;
	font-size:13px;
	 
	width:100%;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	height:42px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.utt3:hover {
	background: #F0878B;
	color: #000000;
	box-shadow: inset 0 0 0 3px #F0878B;
}
.utt4{
	border: none;
	background: #DF1018;
	color: #FFFFFF;
	padding: 2px;
	font-size:13px;
	 
	width:80px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	height:25px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.utt4:hover {
	background: #F0878B;
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #F0878B;
}
.utt5{
	border: none;
	background: #46E14D;
	color: #FFFFFF;
	padding: 6px;
	font-size:14px;
	 border-radius:5px;
	width:195px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	height:35px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.utt5:hover {
	background: #8BEC90;
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #8BEC90;
}
.utt6{
	border: none;
	background: #262626;
	color: #FFFFFF;
	padding: 2px;
	font-size:13px;
	 
	width:85px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	height:25px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.utt6:hover {
	background: #595959;
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #595959;
}
.smalldiv{
	width:180px;
	height:150px;
	float:left;
	padding-right:5px;
}
#headerbottm
{
	background-image:url('images/banner.jpg'); 
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-position: 100% 100%;

}
#headerbottmcont
{
	background-color:rgba( 255, 255, 255, 0.9 );
	color:#023A5C;
	padding:20px;
}
#headerbottmcont span
{
	font-size:20px;
	color:#023A5C;
	font-weight:bold;
}
#headerbottmcont p
{
	font-size:14px;
	color:#023A5C;
	font-weight:bold;
}
#headerbottmcont img
{
	border-radius: 50%;
	border:1px solid #023A5C;
	 float:right;
}
.i-btn{
	margin-top:1em;
}
.i-btn a {
  color: #414141;
  padding: 5px .9em;
  border: 2px solid #414141;
  font-size: 14px;
  font-weight: 50;
  border-radius: 0.3em;
  background:#fff;
  text-decoration:none;
}
.i-btn a:hover,.team-msg-right a:hover,.error-btn a:hover{
	background:#5DB047;
	color:#fff;
	border: 2px solid #fff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
#mainblock
{
	padding:20px;
}
#sidebar span{
	font-size:16px;
	font-weight:bold;
	 
}
#sidebar {
	 font-size:13px;
	 
}
 
.socialtb 
{
	
	margin-top:0px;

}
.scl-grid span{
	width: 40px;
	 height:20px;
	display: inline-block;
	 
	background: url('images/social.png') no-repeat 4px 0px;
	
}
.scl-grid span.scl-icon{
	background-position:2px 0px;
}
.scl-grid:hover span.scl-icon{
	background-position: -172px 0px;
}
.scl-grid span.scl-icon1{
	background-position:-40px 0px;
}
.scl-grid:hover span.scl-icon1{
	background-position: -217px 0px;
}
.scl-grid span.scl-icon2{
	background-position: -82px 0px;
}
.scl-grid:hover span.scl-icon2{
	background-position: -263px 0px;
}
.scl-grid span.scl-icon3{
	background-position: -123px 0px;
}
.scl-grid:hover span.scl-icon3{
	 
	background-position: -308px 0px;

}
#servicesectn
{
	background:#5DB047;
	padding:20px;
}
#servicesectndiv
{
	color:#FFFFFF;
	font-size:13px;
	 
}
#servicesectn span
{
	color:#FFFFFF;

	 
}
.contfrm Input[type="text"]
{
	border:1px solid #5DB047;
	padding-left:5px;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}
.contfrm1 
{
	border:1px solid #5DB047;
 padding-left:5px;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}
.utt10{
	border: none;
	background: #023A5C;
	color: #FFFFFF;
	padding: 4px;
	font-size:13px;
	 
	width:85px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	height:35px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.utt10:hover {
	background: #000000;
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #000000;
}
#servtb table td
{
	font-size:13px;
	background:#F2F2F2;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid #5DB047;
}
#servblock
{
	 
}
#footerbottom{
	background:#5DB047;
	color:#FFFFFF;
}
#footerbottom h3{
	 font-weight:bold;
	color:#FFFFFF;
}
#footerbottom p{
	  text-align:justify;
	  font-size:12px;
	color:#EEEEEE;
}
#footerbottom ul li{
	 font-weight:bold;
	color:#EEEEEE;
	 font-size:12px;
	border-bottom:1px solid #FFFFFF;
	list-style-type: none;
	left:0;
	padding:3px;
	margin-left: -40px;
}
#footerbottom a{
	 font-weight:bold;
	color:#EEEEEE;
	 font-size:12px;
   text-decoration:none;
}
#footerbottom a:hover{
	 font-weight:bold;
	color:#FFFFFF;
	 font-size:12px;
   text-decoration:none;
}



/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
	 
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}