@import url(css_p/jquery.lightbox-0.5.css);
/*  Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/*  Global properties */
html {width:100%}
body 
{
	font-family: Arial; 
	width:100%;
	font-size: 14px; 
	color:#696969; 
	background-color:#FFFFFF;
	background-image:url(images/bgtile.png);
	background-repeat:repeat;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.main 
{
	width:1000px; 
	background-color:White;
}
/*  mycss */
h1 
{
	color:#03C4FC; 
	padding:10px 0 0 25px; 
	font-size:40px; 
	font-family: Arial;
}
h2 
{
	font-size:21px; 
	font-family:Arial; 
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;
}
h3 
{
	color:Red; 
	font-size:17px;
	margin: 0px 0px 0px 0px; 
	padding: 5px 5px 5px 5px;
}
h4 
{
	font-family: Arial;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	margin:0 0 0 0;
	padding: 7px 0 7px 0;
	background-image:url(images/bottom_title.png);
	background-repeat:no-repeat;
}
h5
{
	font-family: Arial;
	font-size:16px;
	font-weight:bold;
	color:#00AEEF;
	margin:0 0 0 0;
	padding: 5px 5px 5px 5px;
}
h6
{
	font-family: Arial;
	font-size:16px;
	font-weight:bold;
	color:#00A651;
	margin:0 0 0 0;
	padding: 5px 5px 5px 5px;
}
.side_title
{
	color:White; 
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 10px; 
	font-size:19px;
	font-family:Calibri;
}
a 
{
	text-decoration:none;
	color:#00AEEF;
}
a:hover 
{
	text-decoration:none;
	color:#00FFFF;
}
/* header */
.logo {display:block;width:313px;height:68px;text-indent:-5000px;background:url(../images/logo.png) 0 0 no-repeat}
.main_pg{width:1000px;padding:0;margin:0 auto;}
.header{height:100px; 
	background-image:url(images/bg.png); 
	background-repeat:repeat-x;}


/*  main menu  */
.scroll{height:25px; background-color:#F8ECFD;}
.menu_h
{
	height:58px;
	float:left;
	width:100%; 
	padding-left:1px; 
	padding-top:5px; 
	color:White; 
	font-weight:bold; 
	text-decoration: none;
	background-color: #FFFFFF;
}
.menu_h a{color:White; margin: 0px 10px 0px 10px;}
.menu_h a:hover{color:#FB7B02;}
.menu
{
	text-align:center;
	width:140px;  
	padding:5px 5px 5px 5px;
	color:Yellow;
	font-weight:bold;
	/*border-right: 1px solid #000000;*/
}
.menu_back
{
background-image:url(images/menu_back.png);
}
.menu li {float:left;position:relative;padding-left:57px}
.menu li a 
{
	display:inline-block;
	font-size:19px;
	line-height:1.21em;
	color:#FFFFFF;
}
.menu li a.active, .menu li a:hover {color:#000000;}

.l_menu
	{
	font-size:12px; 
	float:left;
	width:100%; 
	padding:5px 0px 5px 0px;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom:1px solid #0FBDFF;
	border-right:1px solid #0FBDFF; 
	vertical-align:middle;
	background-image:url(images/side_menu.png);
	font-weight:bold;
	}
.l_menu	a
{
	color:#FFFFFF;
	outline:none;
	text-decoration:none;
	padding:5px 5px 5px 15px;
	width:100%;
}
.l_menu:hover 
{
	text-decoration:none;
	background-color:#0FBDFF;
	background-image:url(images/side_menu_hoverl.png);
	background-repeat:no-repeat;
	color:#000000;width:100%;
}
.l_menu a:hover 
{
	color:#00AEEF;width:100%;
}
.r_menu
{
	font-size:14px; 
	float:left;
	width:100%; 
	padding:5px 0px 5px 0px; 
	color:White; 
	text-decoration: none;
	background-color:#4C9ADA;
	border-bottom:1px solid #0FBDFF;
	vertical-align:middle;
	background-image:url(images/side_menu.png);
}	
.r_menu	a
{
	
	color:White;
	outline:none;
	text-decoration:none;
	padding:5px 5px 5px 5px;
}
.r_menu:hover 
{
	text-decoration:none;
	background-color:#011B42;
	background-image:url(images/side_menu_hover.png);
	background-repeat:no-repeat;
}
.r_menu a:hover 
{
	color:Yellow;
}
.ltbl_top
{
	width:200px;
	height:32px;
	background-image:url(images/toptbl.png);
	background-repeat:no-repeat;
	
}
.ltbl_mid
{
	width:200px;
	height:auto;
	background-image:url(images/ltbl_mid.png);
	background-repeat:repeat-y;
}
.ltbl_bottom
{
	width:200px;
	height:20px;
	background-image:url(images/ltbl_bottom.png);
}
.rtbl_top
{
	width:200px;
	height:32px;
	background-image:url(images/toptbl.png);
	background-repeat:no-repeat;
	
}
.rtbl_mid
{
	width:200px;
	height:auto;
	background-repeat:repeat-y;
	border:1px solid #A2E6FF;
	
}
.rtbl_bottom
{
	width:200px;
	height:20px;
	background-image:url(images/ltbl_bottom.png);
}
.txtbx{ border:1px solid #57A8C6; border-radius:5px; padding:0 0 0 5px; color:Gray; height:20px; }
.txtbxmsg{ border:1px solid #57A8C6; border-radius:5px; padding:0 0 0 5px; color:Gray; height:80px; }
.rndtbl{border:1px solid #98C19B; border-radius:10px; }
.social
{
background-image:url(images/social.png);
width:55px;
height:275px;
position:fixed;
float:right;
top:170px;	
}
.social_l
{
background-image:url(images/social_l.png);
width:55px;
height:275px;
position:fixed;
float:left;
top:170px;	
}
.social_r
{
background-image:url(images/social_r.png);
width:40px;
height:160px;
position:fixed;
float:right;
top:230px;
right:0px;
}
.social_r img:hover{opacity: 0.7; margin-right:5px;}

.chat
{
position:fixed;
float:right;
bottom:0px;
right:0px;	
}
/*  mycss */
/*a {color:Red;outline:none; }
a:hover {text-decoration:none} */
.col{float:left; width:1000px;}
.col-1{float:left; width:200px;}
.col-3 {float:left; width:200px;}
.col-2{float:left; width:600px; background-color:White; }
.wrapper {width:100%;overflow:hidden}

p {margin-bottom:18px; text-align:justify;}
.p1 {margin-bottom:8px}
.p2 {margin-bottom:15px}
.p3 {margin-bottom:30px}
.p4 {margin-bottom:40px}
.p5 {margin-bottom:50px}
.fleft {float:left}
.fright {float:right}
.alignright {text-align:right}
.aligncenter {text-align:center}
.frame 
{
	padding:1px;
	border:1px solid #e5e5e5; 
	background:#fff}
/* boxes */
.round
{
	background-color:Green;
}
/* content */
.content {width:580px;padding:0px 10px 10px 10px; margin:0px 0 10px 0;}
.para{padding:0px 20px 10px 20px; margin:0px 0 10px 0;}

.offers
{
	width:578px;position: relative;
	min-height:150px;
	background-image:url(images/offers.png);
	background-repeat:no-repeat;
	border-top:1px solid #C6C7C7;
	border-bottom:1px solid #C6C7C7;
	border-left:1px solid #C6C7C7;
	border-right:1px solid #C6C7C7;border-radius:10px; top:20px;
}
.offers_left
{
	margin-left:200px;
}
.mid_inner
{
	width:578px;
	border:1px solid #C6C7C7;
	min-height:120px;
	border-radius:10px;
}
.middle
{
	border:1px solid #C6C7C7;
	border-radius:10px;
	min-height:120px;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 0px 5px;
}
.tbl_top{height:32px; background-image:url(images/top.png);}
.tbl_mid{height:auto; background-image:url(images/mid.png);}
.tbl_bottom{height:32px; background-image:url(images/bottom.png);}
.tblhead{height:34px; color:White; font-size:13.1pt; font-family:Calibri; font-style:normal}
.middle 
{
	padding:10px 15px 10px 15px;}
.title
{
	padding: 7px 10px 7px 15px;
	margin: 10px 10px 10px 10px;
	text-shadow:2px 2px 2px #809BA6;
	color:#002D3E;
	background-image:url(images/title.png);
	height:26px;
	border-radius:19px;
	border:1px solid #DBE1E6;
}
.tbl_title
{
	padding: 0 10px 0 10px;
	font-weight:bold;
	color:White;
}

.box-1 {width:177px;padding:12px 32px 20px 0;text-align:center;background:url(../images/pic-1.gif) right top repeat-y}
.box-2 {width:241px;padding:12px 0 20px 0;text-align:center;background:url(../images/pic-1.gif) right top repeat-y}
.box-3 {width:175px;padding:12px 0 20px 32px;text-align:center}
.button {display:inline-block;font-size:14px;line-height:24px;min-width:71px;padding:7px 5px;color:#696969;text-align:center;border:1px solid #c2c2c2;background:url(../images/button-tail.gif) 0 0 repeat-x #eee;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
.button:hover {color:#fff;background:#696969}
.blank{height:10px; background-color:White;}
/* footer */
.img_scroll
{
	height:110px;
	background-color:#C5CCDF;
}
.footer 
{
	width:1000px;
	padding:15px 0 15px 0; 
	background-color:#001117;
	background-image:url(images/bottom_back.png); 
	color:White; 
	text-align:center; 
	font-size:12px;
}
.footer ul{list-style-type:circle;}
footer .main {font-size:0.8125em;line-height:1.538em}
.copy
{
	padding:5px 5px 5px 5px;
	margin:10px 0 0 0;
	background-image:url(images/copy.png);
	background-repeat:repeat-x;
}
.dis_poli{color:Gray;}
.dis_poli a{color:Gray;}
.list ul
{
list-style-image: url('images/ul.gif');
list-style-type: lower-alpha;
}
.list1 ul
{
list-style-image: url('images/done.gif');
list-style-type: lower-alpha;
}
.colr_y{ background-color:#FECB4D;}
.colr_g{ background-color:#779E43;}
.colr_o{ background-color:#F67B0A;}
.colr_r{ background-color:#AB000C;}
.colr_b{ background-color:#2A74BB;}

.button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* CURLS */
/* Curl Top Left */
.curl-top-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border:1px solid #E6E4E4;
  
}
.curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.curl-top-left:hover:before, .curl-top-left:focus:before, .curl-top-left:active:before {
  width: 75px;
  height: 75px;
}

.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.done {border:1px solid #BBDF8D; background-color:#EAF7D9;
	background-image:url(images/done.gif); 
	background-repeat:no-repeat; 
	background-position:left; color:Green;
	}
.error {border:0px solid #FFAEAE; 
	background-color:#FEEBEB; 
	background-image:url(images/ico-warning.gif); 
	background-repeat:no-repeat; 
	background-position:left; color:Red;
	/*padding:5px 5px 5px 20px;*/
	}

.myrnd:hover
{
color:white;
-webkit-animation:mymove 2s infinite linear alternate; /* Chrome, Safari, Opera */
animation:mymove 2s infinite linear alternate;
}

@-webkit-keyframes mymove /* Chrome, Safari, Opera */
{
to {-webkit-transform:rotateY(90deg);}
}

@keyframes mymove
{
to {transform:rotateY(90deg);}
}